<form action="">
  <fieldset>
    <legend> Fecha Carga</legend>
    <input type="date">
  </fieldset>
  <fieldset class="file" 
      (drop)="soltar($event)" 
      (dragover)="prevent($event)" 
      (dragleave)="prevent($event)">
    <legend>Cargar Archivo</legend>
    <section>
      @if(archivo?.name){
        <img src="xlsx.svg" width="40">
        <label for="fileInput">&nbsp;{{archivo?.name}}</label>
      }@else{
        <label for="fileInput">Seleccione o Arrastre</label>
      }
      <input type="file" accept=".xlsx" id="fileInput" (change)="handleFileInput($event)"/>
    </section>
  </fieldset>
</form>

@if (dataFile() && dataFile().length) {
  <table>
    <thead>
      <tr>
        @for (col of dataFile()[0]; track $index) { <th>{{col}}</th>}
      </tr>
    </thead>

    <tbody>
      @for (rowData of dataFile(); track $index; let primero= $first ) {
          @if (!primero) {
            <tr>
              @for (value of rowData; track $index) {<td>{{value}}</td>}
            </tr>
          }
      }
    </tbody>
  </table>
}
